.body--chapter14 h1 {
  font-family: sans-serif;
  text-align: center;
  padding-top: 140px;
  font-size: 60px;
  margin: -15px;
}

.body--chapter14 p {
  font-family: sans-serif;
  color: #907400;
  text-align: center;
}
